/* original logo colors
#0192C9
#81D8DF
*/

/* first test color scheme
#D7FDEC
#424B54
#2B4162
#FF6B35
#B0C6CE
*/

/* followed this guide to maintain the footer at the bottom:
https://www.youtube.com/watch?time_continue=142&v=qlCIXXhSX6Y&feature=emb_logo
*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#full-page {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 40px;
}

#footer {
  background-color: #e3f2fd;
  position: relative;
  height: 40px;
  margin-top: -40px;
  clear: both;
}

#primary-header {
  background-color: #e3f2fd;
  height: 80px;
}

#secondary-header {
  background-color: #e3f2fd;
  height: 40px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-form input[type="text"] {
    width: 10vw !important;
  }

  #group-settings {
    display: hide;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-form input[type="text"] {
    width: 24vw !important;
  }
  #group-settings {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-form input[type="text"] {
    width: 40vw !important;
  }
  #group-settings {
    display: block;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-form input[type="text"] {
    width: 50vw !important;
  }
}
