/* original logo colors
#0192C9
#81D8DF
*/

/* first test color scheme
#D7FDEC
#424B54
#2B4162
#FF6B35
#B0C6CE
*/

/* followed this guide to maintain the footer at the bottom:
https://www.youtube.com/watch?time_continue=142&v=qlCIXXhSX6Y&feature=emb_logo
*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#full-page {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 40px;
}

/* Hides the side bar if the screen gets to small */
/* Also hides a couple icons in the main header */
@media only screen and (max-width: 992px) {
  #group-settings {
    display: none;
  }
  #login {
    display: none;
  }
  #sign-up {
    display: none;
  }
}

/* Modifies the logo size for the main header */
@media only screen and (max-width: 768px) {
  #logo {
    width: 25px;
    height: 25px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-form input[type="text"] {
    width: 50vw !important;
  }
  #primary-header {
    height: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-form input[type="text"] {
    width: 55vw !important;
  }
  #primary-header {
    height: 80px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-form input[type="text"] {
    width: 65vw !important;
  }
  #primary-header {
    height: 80px;
  }
}

/* Borrowed from some of this example for dark mode:
  https://codepen.io/ckchoudek/pen/bKVJrO
  */

/* Dark Mode values */
body.dark-mode {
  background-color: #354038;
  color: #fff;
}
body.dark-mode a {
  color: #fff;
}
body.dark-mode button {
  background-color: #354038;
  color: #fff;
}
body.dark-mode #footer {
  background-color: #475152;
  position: relative;
  height: 40px;
  margin-top: -40px;
  clear: both;
}
body.dark-mode #primary-header {
  background-color: #475152;
}
body.dark-mode #secondary-header {
  background-color: #475152;
}
body.dark-mode input {
  background-color: #354038;
  color: #fff;
}
body.dark-mode .icon-bar {
  background-color: #fff;
}
/* end of Dark-Mode values */

/* Light-Mode values */
body.light-mode {
  background-color: #fff;
  color: #303030;
}
body.light-mode a {
  color: #303030;
}
body.light-mode button {
  background-color: #fff;
  color: #23272a;
}
body.light-mode #footer {
  background-color: #e3f2fd;
  position: relative;
  height: 40px;
  margin-top: -40px;
  clear: both;
}
body.light-mode #primary-header {
  background-color: #e3f2fd;
}
body.light-mode #secondary-header {
  background-color: #e3f2fd;
}
body.light-mode .icon-bar {
  background-color: #354038;
}
/* end of Light-mode values */

/* to give the search bar a searching graphic */
.form-group input {
  font-family: FontAwesome;
}
